<%= stylesheet_link_tag "dashboard.css" %>

<div class="d-flex">
  <div class="col">
    <div class="row">
      <div class="border-renew text-center">
        <p id="title-renew"> Wind </p>
        <p id="text-renew"> Renewable </p>
        <p id="energy"> <%= microgrid.wind %> W </p>
        <div class="percent">
          <p>
            <filter id="symbol-renew">
              <%= image_tag "input_symbols/Wind_Symbol.png", height: 25 %>
            </filter>
            &nbsp
            <%= ((microgrid.wind / microgrid.total_load.to_d) * 100).round(2) %> %
          </p>
        </div>
      </div>
    </div>

    <div class="row"><br></div>

    <div class="row">
      <div class="border-diesel text-center">
        <p id="title-diesel"> Diesel </p>
        <p id="text-diesel"> Non-<br>Renewable </p>
        <p id="energy"> <%= microgrid.diesel %> W </p>
        <div class="percent">
          <p>
            <filter id="symbol-diesel">
              <%= image_tag "input_symbols/Diesel_Symbol.png", height: 25 %>
            </filter>
            &nbsp;
            <%= ((microgrid.diesel / microgrid.total_load.to_d) * 100).round(2) %> %
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col text-center">
    <div class="img-fluid">
      <br> <br> <br>
      <% if microgrid.battery > 0 %>
        <%= image_tag "Arrows_Small_Discharging_Colored.png", height: 350 %>
      <% else %>
        <%= image_tag "Arrows_Small_Charging_Colored.png", height: 350 %>
      <% end %>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="border-renew text-center">
        <p id="title-renew"> Solar </p>
        <p id="text-renew"> Renewable </p>
        <p id="energy"> <%= microgrid.solar %> W </p>
        <div class="percent">
          <p>
            <filter id="symbol-renew">
              <%= image_tag "input_symbols/Solar_Symbol.png", height: 25 %>
            </filter>
            <%= ((microgrid.solar / microgrid.total_load.to_d) * 100).round(2) %> %
          </p>
        </div>
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      <div class="border-battery text-center">
        <p id="title-battery"> Battery </p>
        <p>
        <% if microgrid.battery < 0 %>
          <filter style="color:darkorange"> Charging  </filter>
          <filter style="color:lightgray"> / <br> Discharging </filter>
        <% else %>
          <filter style="color:lightgray"> Charging /<br> </filter>
          <filter style="color:darkorange"> Discharging </filter>
        <% end %>
        </p>
        <p id="energy"> <%= microgrid.battery.abs %> W </p>
        <div class="percent">
          <p>
            <filter id="symbol-battery">
              <%= image_tag "input_symbols/Battery_Symbol.png", height: 25 %>
            </filter>
            &nbsp;
            <% temp = ((microgrid.battery / microgrid.total_load.to_d) * 100).round(2) %>
            <% if temp < 0 %>
              <%= 0.0 %>
            <% else %>
              <%= temp %>
            <% end %>
            %
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row output text-center">
  <div class="col">
    <div class="border-output">
      <p id="title-output"> Community Draw </p>
      <p id="energy"> <%= microgrid.total_load %> W </p>
    </div>
  </div>
</div>