<%= stylesheet_link_tag "dashboard.css" %>

<div class="container-bg">
  <div class="container">
    <div class="row title text-center">
      <p id=title-output> <%= microgrid.name %> </p>
    </div>
    <div class="d-flex">
      <div class="col">
        <div class="row">
          <div class="border-renew text-center">
            <p id="title-renew"> Wind </p>
            <p id="energy"> <%= microgrid.wind %> kW </p>
            <div class="percent">
              <p>
                <filter id="symbol-renew">
                <%= image_tag "input_symbols/Wind_Symbol.png", height: 25 %>
                </filter>
                &nbsp;
                <%= ((microgrid.wind / microgrid.total_input.to_d) * 100).round(2) %> %
              </p>
            </div>
          </div>
        </div>

        <div class="row"><br></div>

        <div class="row">
          <div class="border-diesel text-center">
            <p id="title-diesel"> Diesel </p>
            <p id="energy"> <%= microgrid.diesel %> kW </p>
            <div class="percent">
              <p>
                <filter id="symbol-diesel">
                  <%= image_tag "input_symbols/Diesel_Symbol.png", height: 25 %>
                </filter>
                &nbsp;
                <%= ((microgrid.diesel / microgrid.total_input.to_d) * 100).round(2) %> %
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <p> <%= image_tag "Arrows.png", height: 300 %></p>
      </div>
      <div class="col">
        <div class="row">
          <div class="border-renew text-center">
            <p id="title-renew"> Solar </p>
            <p id="energy"> <%= microgrid.solar %> kW </p>
            <div class="percent">
              <p>
                <filter id="symbol-renew">
                  <%= image_tag "input_symbols/Solar_Symbol.png", height: 25 %>
                </filter>
                <%= ((microgrid.solar / microgrid.total_input.to_d) * 100).round(2) %> %
              </p>
            </div>
          </div>
        </div>
        <div class="row"><br></div>
        <div class="row">
          <div class="border-battery text-center">
            <p id="title-battery"> Battery </p>
            <p id="energy"> <%= microgrid.battery %> kW </p>
            <div class="percent">
              <p>
                <filter id="symbol-battery">
                  <%= image_tag "input_symbols/Battery_Symbol.png", height: 25 %>
                </filter>
                &nbsp;
                <%= ((microgrid.battery / microgrid.total_input.to_d) * 100).round(2) %> %
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row output text-center">
      <div class="col">
        <div class="border-output">
          <p id="title-output"> Output </p>
          <p id="energy"> 1434 kW </p>
          <p id="percentage"> 100% </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div><br></div>

<div class="container-bg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="border-renew">
          <p id="title-renew"> Wind </p>
          <p id="energy"> 374 kW </p>
          <p id="percentage"> 24% </p>
          <div class="symbol-renew">
            <%= image_tag "input_symbols/Wind_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-renew">
          <p id="title-renew"> Solar </p>
          <p id="energy"> 15 kW </p>
          <p id="percentage"> 1% </p>
          <div class="symbol-renew">
            <%= image_tag "input_symbols/Solar_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-diesel">
          <p id="title-diesel"> Diesel </p>
          <p id="energy"> 1177 kW </p>
          <p id="percentage"> 75% </p>
          <div class="symbol-diesel">
            <%= image_tag "input_symbols/Diesel_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-battery">
          <p id="title-battery"> Battery </p>
          <p id="energy"> -132 kW </p>
          <p id="percentage"> 0% </p>
          <div class="symbol-battery">
            <%= image_tag "input_symbols/Battery_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="border-output">
          <p id="title-output"> Output </p>
          <p id="energy"> 1434 kW </p>
          <p id="percentage"> 100% </p>
        </div>
      </div>
    </div>
  </div>
</div>
