<%= stylesheet_link_tag "dashboard.css" %>

<div class="container-bg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="border-renew">
          <p id="title-renew"> Wind </p>
          <p id="energy"> 374 kW </p>
          <p id="percentage"> 24% </p>
          <div class="symbol-renew">
            <%= image_tag "input_symbols/Wind_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-renew">
          <p id="title-renew"> Solar </p>
          <p id="energy"> 15 kW </p>
          <p id="percentage"> 1% </p>
          <div class="symbol-renew">
            <%= image_tag "input_symbols/Solar_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-diesel">
          <p id="title-diesel"> Diesel </p>
          <p id="energy"> 1177 kW </p>
          <p id="percentage"> 75% </p>
          <div class="symbol-diesel">
            <%= image_tag "input_symbols/Diesel_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="border-battery">
          <p id="title-battery"> Battery </p>
          <p id="energy"> -132 kW </p>
          <p id="percentage"> 0% </p>
          <div class="symbol-battery">
            <%= image_tag "input_symbols/Battery_Symbol.png", height: 50 %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="border-output">
          <p id="title-output"> Output </p>
          <p id="energy"> 1434 kW </p>
          <p id="percentage"> 100% </p>
        </div>
      </div>
    </div>
  </div>
</div>